@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

.aclonica-regular {
  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.top-20{
  position: relative;
  top: 20px;
}
.logo-xl{
  position: relative;
  max-width: 200px;
}
.logo-xl > img{
  position: relative;
  width: 100%;
}

.left-border{
  border-left: 4px solid #0412215e;
}

.right-border{
  border-right: 4px solid #0412215e;
}

.main-site-home{
  background-image: url('../img/bg-home.png');
  background-size: cover;
}
.main-site-register{
  background-image: url('../img/bg-register.png');
  background-size: cover;
  background-position: bottom;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-columns: auto;
}
.main-site-register-top{
  /* background-color: #BD7E0D; */
}

.main-site-register-middle{
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
}

.btn-rpg{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 47px;
  min-width: 315px;
  text-decoration: none;
  color: #FAE974;
  background-color: #BD7E0D;
  border-radius: 8px;
  text-align: center;
  border-bottom: 5px solid #694C1D;
  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-style: normal;
}