@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

* {
  box-sizing: border-box;
}

.aclonica-regular {
  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.top-20 {
  position: relative;
  top: 20px;
}

.rpg-text-title {
  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #D39617;
}

.logo-xl {
  position: relative;
  max-width: 200px;
}

.logo-xl>img {
  position: relative;
  width: 100%;
}

.left-border {
  border-left: 4px solid #0412215e;
}

.right-border {
  border-right: 4px solid #0412215e;
}

.main-site-home {
  background-image: url('../img/bg-home.png');
  background-size: cover;
}

.main-site-register {
  background-image: url('../img/bg-register.png');
  background-size: cover;
  background-position: bottom;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-columns: auto;
}

.main-site-register-top {
  /* background-color: #BD7E0D; */
}

.main-site-register-middle {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
}

.btn-rpg {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 47px;
  min-width: 315px;
  text-decoration: none;
  color: #FAE974;
  background-color: #BD7E0D;
  border-radius: 8px;
  text-align: center;
  border-bottom: 5px solid #694C1D;
  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inpt-rpg:focus {
  outline: none;
}

.inpt-rpg {
  background-color: #f7f7f716;
  border: 2px solid #BD7E0D;
  border-radius: 12px;
  min-height: 42px;
  min-width: 215px;
  color: #D39617d7;
  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 3px 10px;
}

.label-rpg {
  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #D39617;
}

.progress-container {
  display: flex;
  gap: 5px;
}

.pc-dot {
  width: 15px;
  height: 15px;
  background-color: #8d8d8d;
  border-radius: 100%;
}
.full{
  background-color: #D39617 !important;
}